body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: relative;
    
   
}

.container{
    background-color: rgba(158, 154, 154, 0.282);
    backdrop-filter: blur;
    border-radius: 10px;
    height: 50vh;
    width: 35vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 40%;
}

input{
    height: 2.5rem;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 253, 253);
    box-shadow: rgba(178, 178, 178, 0.428) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: #1791FF;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
}

button{
    height: 3rem;
    width: 3rem;
    margin: 0px 10px;
    border-radius: 50%;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.497);
    backdrop-filter: blur;
    transition:transform.2s;
}

button.button-operation.blue{
    background-color: #3ea3fcd0;
    backdrop-filter: blur;
}
button:hover{
    transform: scale(1.2);
}

.shape1{
    background-color: #ffffff;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    filter: blur(10px);
    position: absolute;
    top: 24%;
    left: 55%;
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.shape2{
    background-color: #1791FF;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    filter: blur(10px);
    position: absolute;
    top: 54%;
    left: 30%;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1{
    from{
        transform: translate(10%,-10%);
    }
    to{
        transform: translate(-10%,50%);
    }
}

@keyframes anime2{
    from{
        transform: translateX(10%);
    }
    to{
        transform: translate(40%,-10%);
    }
}